body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    color: black;
}
.purchase {
    display: flex;
    background-color: lightblue;
    width: 90%;
    height: 100%;
    border: 3px solid gray;
    padding: 1rem;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}
.buybutton {
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    margin-top: auto;
}
.textbox {
    width: 60%;
    height: 600px;
}
.submit {
    width:60%;
    height: 50px;
    color: white;
    background-color: lightslategray;
    border-width: 1px;
    font-size: x-large;
}
.links {
    color: aquamarine;
    background-color: lightgreen;
}
nav > ul > li > a {
    background-color: lightslategray;
    color: white;
    text-decoration: none;
    font-size: x-large;
}
nav > ul > li {
    margin: 1;
    list-style-type: none;
    display: inline-block;
}
a:hover {
    color: dodgerblue;
    background-color: yellow;
}
.foot {
    background-color: lightsalmon;
    color: lightblue;
}
.thatimage {
    width: auto;
}
section > ul > li {
    margin: 1;
    list-style-type: none;
    display: inline-block;
}
table {
    width: 90%;
    height: 30%;
}
.logo {
    user-select: none;
    background-color: transparent;
}
.formfile {
    font-size: larger;
    font-style: oblique;
}
.formfile > a {
    background-color: lime;
}
.seeall {
    width: 100%;
    height: 50px;
    background-color: red;
}
.seeall:hover {
    background-color: yellow;
}
.formfile > a:hover {
    background-color: yellow;
}
.buybutton:hover {
    background-color: yellow;
}
.boutton:hover {
    background-color: yellow;
}