body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    color: black;
}
.purchase {
    background-color: lightblue;
    width: 150px;
    border: 3px solid gray;
    padding: 5px;
    margin: 10px;
}
.buybutton {
    background-color: lightgreen;
    width: 150px;
}
.textbox {
    width: 450px;
    height: 250px;
}
.submit {
    width:460px;
    height: 50px;
    color: white;
    background-color: lightslategray;
    border-width: 1px;
    font-size: x-large;
}
.links {
    color: aquamarine;
    background-color: lightgreen;
}
nav > ul > li > a {
    background-color: black;
    color: white;
    text-decoration: none;
    width: 30%;
}
nav > ul > li {
    margin: 1;
    list-style-type: none;
    display: inline-block;
}
a:hover {
    color: dodgerblue;
    background-color: yellow;
}
.foot {
    background-color: lightsalmon;
    color: lightblue;
}
